@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
        --background: #000000;
        --bgnews: #1e1c21;
        --red: #C20000;
        --blue: #001F70;
        --gradient: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
        --font: 'Titillium Web', 'sans-serif';
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
}

body {
        background-color: var(--background);
        font-family: var(--font);
        font-size: 16px;
}

img {
        width: 100%;
}

.header-top {
        width: 100%;
        height: 5em;
        /* background-color: aliceblue; */
}

.content {                 /* usado para várias seções do site */
        width: 95%;
        max-width: 75em;
        height: 100%;
        /*background-color: aqua;*/
        margin: auto;
}

.flex-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.flex-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.header-top img {
        max-width: 21.18em;
}

.menu {
        width: 95%;
        max-width: 50em;
}

.menu ul {
        list-style-type: none;
        margin-left: 1em;
}

.menu a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5em;
        /* background-color: red; */
        padding: 0.9em 0.5em;
}

.menu a:hover {
        text-shadow: 0 0 20px #fff;
        text-decoration: underline;
        background-color: var(--red);
}

#menu-bars {
        display: none;
}

.banner {
        position: relative;
}

/*legal revisar o conceito de position para o banner!*/

.banner-container {
        width: 100%;
        height: 100%;
        /* background-color: rgba(218, 188, 218, 0.192); */
        position: absolute;
        /*legal revisar o conceito de position para o banner!*/
        top: 0;
}

.banner-content {
        width: 95%;
        height: 100%;
        margin: auto;
        /* background-color: rgba(153, 205, 50, 0.267); */
        display: flex;
        justify-content: flex-end;
        margin-right: 5em;
}

.banner-text {
        width: 50%;
        height: 100%;
        /* background-color: coral;*/ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding-left: 3em;
}

.banner-text h1 {
        font-size: 5em;
}

.banner-text p {
        font-size: 1.87em;
}

.banner-text a {
        color: #fff;
        font-size: 1.87em;
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--red);
        padding: 0.5em 1.2em;
        border-radius: 0.75em;
        margin-top: 2em;
}

.banner-text a:hover {
        text-decoration: underline;
        color: lightgreen;
}

.games {
        width: 100%;
        height: 7.5em;
        /*background-color: yellow;*/
}

.games ul {
        /*background-color: red;*/
        list-style-type: none;
        width: 100%;
}

.games img {
        width: 10.62em;
}

.games ul a:hover img {
        transition: 0.5s;
        transform: scale(1.5);
}

.about {
        height: 31.25em;
        background-color: var(--blue);
        position: relative;
}

.about-angulation {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
}

.angulation {
        height: 24.125em;
        background-color: var(--background);
        width: 100%;
        transform: skewY(-4deg)
}

.container-about {
        color: white;
        position: absolute;
        top: 0;
}

.content-about {
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.text-about {
        width: 50%;
        text-align: justify;
}

.text-about h2 {
        margin-bottom: 1em;
        font-size: 2.1875em;
}

.text-about p {
        font-size: 1.25em;
}

.content-about img {
        max-width: 31.875em;
}

.games-aovivo, .games-embreve {
        /*background-color:brown;*/
        display: flex;
        color: #fff;
        align-items: center;
        font-size: 1.5625em;
}

.linha {
        border: solid 1px #fff;
        height: 5em;
}

.games-aovivo h2 {
        /*margin-right: 1em;*/
}

.partida {
        /*background-color: purple;*/
        display: flex;
        align-items: center;
        width: 9.5em;
        /* 285/30px(fonte pai)=9.5em */
        justify-content: space-between;
        margin-left: 1em;
}

.partida img {
        width: 1.8em;
}

.time1, .time2 {
        display: flex;
        /*background-color: royalblue;*/
        align-items: center;
}

.time1 img {
        margin-left: 0.5em;
}

.time2 img {
        margin-right: 0.5em;
}

.ajuste-partida2-breve { /*background-color: lightpink;*/
                         margin-left: 2em;
}

/* Início da parte das Notícias */

.bg-news { width: 100%;
           height: auto;
           background-color: var(--bgnews);
}

.news { width: 70%;
        height: 90%;
         /*background-color: lightgray; */
}

.news h2, .next-games h2 { color: #fff;
           margin: 1em 0;
           font-size: 2.1875em;
}

.next-games { width: 25%;
              height: 90%;
              /* background-color:lightgray; */
}

.content-news { display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
}

.card-news { width: 15em;
             height: 22.5em;
             background:var(--gradient);
             box-shadow: 0 0 10px rgb(92,92,92);
             margin-bottom: 2em;   /* espaçamento entre os cards*/
}

.card-news h3 { padding: 0.5em 0.6em;
}

.card-news p { padding: 0 0.6em;
}

.card-news a { color: #fff;
               text-decoration: none;
}

.next-games-bg { width: 90%;   /* pai das próximas partidas*/    /*90% dos 25% de width definido em .next-games*/
                 height: auto;
                 background:var(--gradient);
                 display: flex;
                 flex-direction: column;
                 justify-content: space-around;
                 padding: 1em 0;
}

.next-games-match { display: flex;
                    flex-direction: column;
                    color: #fff;
                    justify-content: space-around;    /* estudar diferença entre space-between e space-around */
                    align-items: center;
                    /* background-color: lightsalmon; */
                    width:100%;
                    height: 6.25em;
                    font-weight: 700;
}

.teams { width: 100%;                  /* div feita para espaçar os logos dos times do vs */
         display: flex;
         justify-content: space-around;
         padding-top: 0.8em;
}

.next-games-match img { max-width: 2.5em;
}

.next-games-match div { display: flex;
                        align-items: center;
}








@media screen and (max-width:74, 93em) {}

@media screen and (max-width:61, 93em) {}

@media screen and (max-width:47, 93px) {}

@media screen and (max-width:36em) {}