@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
        --background: #000000;
        --bgnews: #1e1c21;
        --red: #C20000;
        --blue: #001F70;
        --gradient: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
        --font: 'Titillium Web', 'sans-serif';
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
}

body {
        background-color: var(--background);
        font-family: var(--font);
        font-size: 16px;
}

img {
        width: 100%;
}

.header-top {
        width: 100%;
        height: 5em;
        /* background-color: rgba(144, 238, 144, 0.226) */
}

.content {                 /* usado para várias seções do site */
        width: 95%;
        max-width: 75em;
        height: 100%;
        /* background-color: aqua; */
        margin: auto;
}

.flex-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
}



.header-top img {
        max-width: 21.18em;
}

.menu {
        width: 95%;
        max-width: 50em;
        /* background-color: rgba(255, 160, 122, 0.205); */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.menu-responsivo {display:none;}

.icone-mobile { display: none;}

.menu ul {
        list-style-type: none;
        margin-left: 2em;
        display: flex;
        flex-wrap: wrap;
}

.menu a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5em;
        /* background-color: red; */
        padding: 0.9em 0.5em;
}

.menu a:hover {
        text-shadow: 0 0 20px #fff;
        text-decoration: underline;
        background-color: var(--red);
}


.banner {
        position: relative;
}

.banner-container {         /*legal revisar o conceito de position para o banner!*/
        width: 100%;
        height: 100%;
        /* background-color: rgba(218, 188, 218, 0.192); */
        position: absolute;
        top: 0;
}                                                 

.banner-content {
        width: 95%;
        height: 100%;
        margin: auto;
        /* background-color: rgba(153, 205, 50, 0.267); */
        display: flex;
        justify-content: flex-end;
        margin-right: 5em;
}

.banner-text {
        width: 50%;
        height: 100%;
        /* background-color: coral;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding-left: 4.5em;
}

.banner-text h1 {
        font-size: 5em;
}

.banner-text p {
        font-size: 1.87em;
}

.banner-text a {
        color: #fff;
        font-size: 1.87em;
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--red);
        padding: 0.5em 1.2em;
        border-radius: 0.75em;
        margin-top: 2em;
}

.banner-text a:hover {
        text-decoration: underline;
        color: lightgreen;
}

.games {
        width: 100%;
        height: 7.5em;
        /*background-color: yellow;*/
}

.games ul {
        /*background-color: red;*/
        list-style-type: none;
        width: 100%;
}

.games img {
        width: 10.62em;
}

.games ul a:hover img {
        transition: 0.5s;
        transform: scale(1.5);
}

.about {
        height: 31.25em;
        background-color: var(--blue);
        position: relative;
}

.about-angulation {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
}

.angulation {
        height: 24.125em;
        background-color: var(--background);
        width: 100%;
        transform: skewY(-4deg)
}

.container-about {
        color: white;
        position: absolute;
        top: 0;
        background-color: blueviolet;
}

.content-about {
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: burlywood;
}

.text-about {
        width: 50%;
        text-align: justify;
        background-color: coral;
}

.text-about h2 {
        margin-bottom: 1em;
        font-size: 2.1875em;
}

.text-about p {
        font-size: 1.25em;
}

.content-about img {
        max-width: 31.875em;
        background-color: azure;
}

.games-aovivo, .games-embreve {
        /*background-color:brown;*/
        display: flex;
        color: #fff;
        align-items: center;
        font-size: 1.5625em;
}

.linha {
        border: solid 1px #fff;
        height: 5em;
}


.partida {
        /*background-color: purple;*/
        display: flex;
        align-items: center;
        width: 9.5em;
        /* 285/30px(fonte pai)=9.5em */
        justify-content: space-between;
        margin-left: 1em;
}

.partida img {
        width: 1.8em;
}

.time1, .time2 {
        display: flex;
        /*background-color: royalblue;*/
        align-items: center;
}

.time1 img {
        margin-left: 0.5em;
}

.time2 img {
        margin-right: 0.5em;
}

.ajuste-partida2-breve {
        /*background-color: lightpink;*/
        margin-left: 2em;
}

/* Início da parte das Notícias */

.bg-news {
        width: 100%;
        height: auto;
        background-color: var(--bgnews);
}

.news {
        width: 70%;
        height: 90%;
        /* background-color: lightgray;  */
}

.news h2, .next-games h2 {
        color: #fff;
        margin: 1em 0;
        font-size: 2.1875em;
}

.next-games {
        width: 25%;
        height: 90%;
        /* background-color:lightgray; */
        margin-left: 4em;
}

.content-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}

.card-news {
        width: 15em;
        height: 22.5em;
        background: var(--gradient);
        box-shadow: 0 0 10px rgb(92, 92, 92);
        margin-bottom: 2em;
        /* espaçamento entre os cards*/
}

.card-news h3 {
        padding: 0.5em 0.6em;
}

.card-news p {
        padding: 0 0.6em;
}

.card-news a {
        color: #fff;
        text-decoration: none;
}

.next-games-bg {                             /* pai das próximas partidas*/
        width: 90%;                          /*90% dos 25% de width definido em .next-games*/
        height: auto;
        background: var(--gradient);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1em 0
}                      

.next-games-match {
        display: flex;
        flex-direction: column;
        color: #fff;
        justify-content: space-around;
        /* estudar diferença entre space-between e space-around */
        align-items: center;
        /* background-color: lightsalmon; */
        width: 100%;
        height: 6.25em;
        font-weight: 700;
}

.teams {
        width: 100%;
        /* div feita para espaçar os logos dos times do vs */
        display: flex;
        justify-content: space-around;
        padding-top: 0.8em;
}

.next-games-match img {
        max-width: 2.5em;
}

.next-games-match div {
        display: flex;
        align-items: center;
}

.links-footer { display: flex;
                width: 33%;
                justify-content: space-around;
}

.links {color: #fff;
        line-height: 1.5em;
}

.links a {text-decoration: none;
          color:#fff;
}

.links h2 { margin-bottom: 0.8em;

}

.rodape { padding: 1em 0;

}

.logo-rodape { width: 19.06em;
}

.sociais h2 { color:#fff;}


.sociais > h2 { font-size: 0.875em;
                margin-bottom: 0.5em;
}

.sociais input[type="email"] { height: 2.3125em;
                               width: 12.1875em;
}

.sociais input[type="email"]::placeholder { color:#b8b3b3;
                                            font-weight: bold;
                                            padding-left: 0.4em;
}

.sociais input[type="submit"] { /*height: 1.715em;*/
                                width: 9.75em;
                                color: #fff;
                                background-color: #8326ef;
                                font-size: 1.1em;
                                font-weight: 700;
                                cursor: pointer;
}

.sociais form { display: flex;
                margin-bottom: 0.5em;
}

.siga-nos { display: flex;
            align-items: center;
            margin-top: 0.8em;
            justify-content: space-between;
}

.logo-face { padding-right: 0.5em;
}

.pages-rodape { margin-bottom: 2em;}



@media screen and (max-width:74.93em) {          /* 992px até 1199px */          /* recomendável começar com o desktop em 1440px para empresas */
        
        body {font-size:12px;}
        
        .header-top img {margin-top: 0.5em;}

        .menu-responsivo { display: none;}
        
        .icone-mobile { display: none;}

        .pages-rodape2 { display:none;}

        .pages-rodape1 { line-height: 2em;}

        .logo-rodape { margin-right:7em;
                       width: 21em; }

}


@media screen and (max-width:61.93em) {          /* 767px até 991px */
        
        body {font-size: 10px;}

        .news { max-width: 40em;}

        .icone-mobile { display:block;
                        margin-right: 8em;
        }

        .fas { color:#fff;
               font-size: 45px;
               display: flex; }
               
        .header-top img { align-items:center;
                          margin-left: 2em;
        }
        
        .menu { display: none;}

        .menu-responsivo { display: none;}

        .menu-responsivo a { display: block;
                             border: 0.8px solid red;
                             width: 100%;
                             padding: 0.4em 0.3em;
                             text-transform: uppercase;
                             text-align: center;
                             color: #fff;
                             text-decoration: none;
                             font-size: 1em;
                           }
                           
        .menu-responsivo a:hover { text-decoration: underline;
                                   border: 1.4px solid darkred;
                                 }

        .pages-rodape { display: none;}

        .links {line-height: 2.4em;}

        .logo-rodape { margin-right: 4em;
                       width: 22em;
        }

        .next-games-bg { height:70em;}

        .games-aovivo { margin-left: 2em;}

        .games-embreve { margin-right: 2em;}
}
        

@media screen and (max-width:47.93em) {                 /* 576px até 767px */ 
                                               
        .fas { font-size:35px;
        }
        
        .banner-text { width:55%;
                       text-shadow: 0 0 35px #000;
                       font-size: 8px;
                       padding-left: -3em;
                     }
        
        .banner img {opacity: 0.8;}

        .games ul img  { width:8.5em;
                         display: flex;
                         justify-content: space-between;
                       }

        .games ul a:hover img {
                transition: 0.8s;
                transform: scale(1.2);
        }

        .content-about { flex-wrap: wrap;}

        .content-about img { width: 47%;
                             height: auto;
        }


}             

@media screen and (max-width:35.93em) {}             /* 421px até 575px */

@media screen and (max-width:26.25em) {}             /* 375px até 420px */
