@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
        --background: #000000;
        --red: #C20000;
        --blue: #001F70;
        --gradient: linear-gradient(270deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
        --font: 'Titillium Web', 'sans-serif';}

* { margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   }

body { background-color: var(--background);
       font-family: var(--font);
       font-size: 16px;
       }

img { width: 100%;}

.header-top { width: 100%;
              height: 5em;
              /* background-color: aliceblue; */
}

.content { width: 100%;
           max-width: 75em;
           height: 100%;
           /* background-color: aqua; */
           margin: auto;
}

.flex-center { display: flex;
               justify-content: space-between;
               align-items: center;
             }

.header-top img { max-width: 21.18em;
}

.menu  { width: 100%;
         max-width: 50em;
}

.menu ul { list-style-type: none;}

.menu a { color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.5em;
          /* background-color: red; */
          padding: 0.9em 0.66em;
}

.menu a:hover { text-shadow: 0 0 20px #fff;
                text-decoration: underline;
                background-color: var(--red);
}

#menu-bars { display:none;}





@media screen and (max-width:74,93em) { 

}

@media screen and (max-width:61,93em) {

}

@media screen and (max-width:47,93px) {

}

@media screen and (max-width:36em) {

}